@media (max-width: 1080px){
    #page-container, .wrapBackButton {
        width: 900px !important;
    }
}

@media (max-width: 980px){
    #page-container, .wrapBackButton {
        width: 800px !important;
    }
}

@media (max-width: 880px){
    #page-container, .wrapBackButton {
        width: 700px !important;
    }
}

@media (max-width: 780px){
    #page-container, .wrapBackButton {
        width: 600px !important;
    }
}

@media (max-width: 680px){
    #page-container, .wrapBackButton {
        width: 500px !important;
    }
    .dropdownElements {
        width: 70% !important;
    }
}

@media (max-width: 580px){
    #page-container, .wrapBackButton {
        width: 420px !important;
    }
}

@media (max-width: 480px){
    #page-container, .wrapBackButton, .backButton {
        width: 390px !important;
    }
    .navbar {
        flex-direction: column !important;
    }
    .wrapBackButton {
        display: contents;
    }
    .backButton {
        margin: -90px auto 50px auto;
    }
}

@media (max-width: 460px){
    #page-container, .wrapBackButton .backButton {
        width: 360px !important;
    }
}

@media (max-width: 420px){
    #page-container, .wrapBackButton .backButton {
        width: 330px !important;
    }
    .dropdownElements {
        width: 90% !important;
    }
}


@media (max-width: 370px){
    #page-container, .wrapBackButton .backButton {
        width: 280px !important;
    }
}


@media (max-width: 330px){
    #page-container, .wrapBackButton .backButton {
        width: 250px !important;
    }
}

@media (max-width: 290px){
    #page-container, .wrapBackButton .backButton {
        width: 230px !important;
    }
}

@media (max-width: 260px){
    #page-container, .wrapBackButton .backButton {
        width: 200px !important;
    }
}

@media (max-width: 230px){
    #page-container, .wrapBackButton .backButton {
        width: 150px !important;
    }
}